body {
   font-family: "Lucida Handwriting", "Brush Script MT", cursive;
   background-color: rgb(231, 231, 148); 
   color: rgb(109, 11, 32);
}

#home {
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    display: inline-block;
}

h1 {
    font-family: "Papyrus", fantasy;
}